<a href="https://colab.research.google.com/github/alalghzy/Statistik-Terapan/blob/main/083_097_Handling_Missing_Values_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Handling Missing Values

```
Anggota Kelompok:
G1A021083 Rayhan M. Rizki | G1A021097 Rafif Alghazy
Kelas : Informatika A
```

# Penjelasan Dataset
Dataset ini berisi data geografis kota-kota di India. Pada dataset ini, menampilkan garis lintang dan garis bujur dari setiap kota yang telah disurvei yang ada di India. Dataset ini dibuat untuk membantu semua orang yang ingin membuat plot untuk kota yang ada di India. Dataset ini diambil dari  [India Geo Dataset](https://github.com/bill-chpper/india-geo-dataset.git) dan berasal dari Kaggle [Geographic data of Indian cities](https://www.kaggle.com/datasets/yugalkishore/geographic-data-of-indian-cities?select=IND_cities_geo_data.csv.).

# Menampilkan dataset dan missing values

In [ ]:
#library untuk missing values
import numpy as np
import pandas as pd
#mengambil dataset dari url, serta menampilkan dataset 5 record teratas dari dataset yang telah di load
data = pd.read_csv('https://raw.githubusercontent.com/bill-chpper/india-geo-dataset/main/India_cities_geo_data.csv')
data.head(5)

       city  latitude  longitude country
0    Abohar   30.1204    74.2900   India
1   Addanki   15.8110    79.9738   India
2  Adilabad   19.6667    78.5333   India
3     adoni   15.6300    77.2800   India
4  Agartala   23.8333    91.2667   India

In [ ]:
#menampilkan jumlah missing values pada dataset
data.isna().sum()

city         0
latitude     5
longitude    0
country      0
dtype: int64

In [ ]:
#mengecek apakah ada missing values pada dataset
data.isna().any()

city         False
latitude      True
longitude    False
country      False
dtype: bool

# Handling missing values dengan drop atau hapus

In [ ]:
#menghapus missing values pada dataset
data.dropna(inplace=True)

In [ ]:
#menampilkan dan mengecek kembali dataset
print(data.isna().sum(), '\n\n',data.isna().any())

city         0
latitude     0
longitude    0
country      0
dtype: int64

 city         False
latitude     False
longitude    False
country      False
dtype: bool

Dapat terlihat missing values pada dataset sudah tidak ada lagi karena missing values tadi dihandling dengan cara dihapus.

# Penangan missing values dengan imputation

In [ ]:
#menampilkan jumlah missing values pada dataset
data = pd.read_csv('https://raw.githubusercontent.com/bill-chpper/india-geo-dataset/main/India_cities_geo_data.csv')
print(data.isna().sum(), '\n\n',data.isna().any())

city         0
latitude     5
longitude    0
country      0
dtype: int64

 city         False
latitude      True
longitude    False
country      False
dtype: bool

In [ ]:
#mengambil dataset dari url, serta mengganti nilai pada missing values dengan nilai rata-rata atau mean pada dataset
data["latitude"] = data["latitude"].replace(np.NaN, data["latitude"].mean())
print(data.isna().sum(), '\n\n',data.isna().any())

city         0
latitude     0
longitude    0
country      0
dtype: int64

 city         False
latitude     False
longitude    False
country      False
dtype: bool

In [ ]:
#mengganti nilai pada missing values dengan nilai tengah atau median dataset
data["latitude"] = data["latitude"].replace(np.NaN, data["latitude"].median())
print(data.isna().sum(), '\n\n',data.isna().any())

city         0
latitude     0
longitude    0
country      0
dtype: int64

 city         False
latitude     False
longitude    False
country      False
dtype: bool

In [ ]:
#mengganti nilai pada missing values dengan nilai terbanyak muncul atau modus
modus = data['latitude'].mode()[0]
data['latitude'] = data['latitude'].fillna(modus)
data['latitude'].isna().sum()
print(data.isna().sum(), '\n\n',data.isna().any())

city         0
latitude     0
longitude    0
country      0
dtype: int64

 city         False
latitude     False
longitude    False
country      False
dtype: bool

In [ ]:
#missing values pada dataset telah dihandle sehingga data pada dataset telah terubah
data.head(500)

           city  latitude  longitude country
0        Abohar   30.1204    74.2900   India
1       Addanki   15.8110    79.9738   India
2      Adilabad   19.6667    78.5333   India
3         adoni   15.6300    77.2800   India
4      Agartala   23.8333    91.2667   India
..          ...       ...        ...     ...
407   Ernakulam    9.9800    76.2900   India
408    Gurugram   28.4500    77.0200   India
409    Guwahati   26.1100    91.7000   India
410  Jorapokhar   23.7000    86.4130   India
411     Talcher   20.9500    85.2100   India

[412 rows x 4 columns]